<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/footer.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <a href="index.html">
                <img src="../static/imgs/logos/logo1.jpg" alt="">
            </a>
            <div id="ham" onclick="showHide()">
                <img src="../static/imgs/hamburger.svg" id="hame">
            </div>
        </div>
        <div id="data">
            <div id="content1">
                <a href="services.html">Services</a>
                <a href="webDev.html">Why Us?</a>
                <a href="webDev.html">Link</a>
            </div>
        </div>
        <!-- For mobile -->
        <div id="mdata">
            <a href="services.html">Services</a>
            <a href="webDev.html">Link</a>
        </div>
        </div>
    </nav>
    <div id="mainContainer">
        <div id="container1">
            <div id="c1-field1">
                <h2>A new generation of cleaning concepts with, <span>"Eco Clean"</span></h2>
            </div>
            <div id="c1-field2">
                <img src="../static/imgs/for_landingpage/img1.jpg">
            </div>
        </div>
        <div id="container2">
            <div id="c2-field1">
                <picture>
                    <!-- <source
                    srcset="../static/imgs/for_landingpage/img1.jpg"
                    media="(min-width: 600px)"
                    > -->
                    <img src="../static/imgs/for_landingpage/img2.jpg">
                </picture>
            </div>
            <div id="c2-field2">
                <h2>About us</h2>
                <h1>Why choose us?</h1>
                <span></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, accusamus ipsam natus
                    obcaecati, praesentium eveniet sequi fugit quis reprehenderit tempore suscipit a? Officiis, nam!
                    Quia inventore veniam maiores necessitatibus ad illum repudiandae perspiciatis repellendus.</p>
            </div>
        </div>
        <div id="container3">
            <div id="c3-field1">
                <h1>Our Customer Types</h1>
            </div>
            <div id="c3-field2">
                <div class="c3-f2-box">
                    <div class="logo">
                        <img src="../static/imgs/for_landingpage/company-enterprise-icon.png">
                    </div>
                    <h2>Commercial Services</h2>
                    <a href="services.html">View</a>
                </div>
                <div class="c3-f2-box">
                    <div class="logo">
                        <img src="../static/imgs/for_landingpage/flats-residential-apartment-icon.png" alt="">
                    </div>
                    <h2>Residential Services</h2>
                    <a href="services.html">View</a>
                </div>
            </div>
        </div>
        <div id="container4">
            <div id="c4-main-field1">
                <div id="c4-m-f1-field1">
                    <h2>Clients who trusted us</h2>
                    <span id="underline"></span>
                </div>
                <div id="c4-m-f1-field2">
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                    <div class="holder">
                        <img src="../static/imgs/logos/logo1.jpg">
                    </div>
                </div>
            </div>
            <div id="c4-main-field2">
                <div id="c4-m-f2-field1">
                    <h2>There Feedbacks.</h2>
                    <span></span>
                </div>
                <div id="c4-m-f2-field2">
                    <div class="c4-f2-box">
                        <div class="c4-f2-box-element1">
                            <div class="c4-f2-box-e1-sub1">
                                <img src="../static/imgs/for_landingpage/avatar-male.jpg" />
                                <div class="c4-f2-box-e1-sub2">
                                    <h1>Web NightRaid</h1>
                                    <p>Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="c4-f2-box-element2">
                            <p>
                                With a great course instructor and briefly explained syllabus,
                                it's one of the most amazing courses I've taken through Mero
                                Padhai so far. Throughout the entire specialisation, there are
                                countless opportunities to get useful insights.
                            </p>
                        </div>
                    </div>
                    <div class="c4-f2-box">
                        <div class="c4-f2-box-element1">
                            <div class="c4-f2-box-e1-sub1">
                                <img src="../static/imgs/for_landingpage/avatar-female.jpg" alt="" />
                                <div class="c4-f2-box-e1-sub2">
                                    <h1>Cloudy NightRaid</h1>
                                    <p>Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="c4-f2-box-element2">
                            <p>
                                In my POV, the most beneficial part of this whole platform is
                                the ability to study whenever and wherever possible. And on top
                                of it, this platform is also inexpensive compared to traditional
                                tutoring..
                            </p>
                        </div>
                    </div>
                    <div class="c4-f2-box">
                        <div class="c4-f2-box-element1">
                            <div class="c4-f2-box-e1-sub1">
                                <img src="../static/imgs/for_landingpage/avatar-female.jpg" alt="" />
                                <div class="c4-f2-box-e1-sub2">
                                    <h1>Galaxy NightRaid</h1>
                                    <p>Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="c4-f2-box-element2">
                            <p>
                                Mero Padhai is a great online learning platform for students in
                                Nepal. The platform is very user-friendly and the courses are
                                well-structured. Overall, I highly recommend mero Padhai to
                                anyone looking for an online learning platform in Nepal.
                            </p>
                        </div>
                    </div>
                    <div class="c4-f2-box">
                        <div class="c4-f2-box-element1">
                            <div class="c4-f2-box-e1-sub1">
                                <img src="../static/imgs/for_landingpage/avatar-male.jpg" />
                                <div class="c4-f2-box-e1-sub2">
                                    <h1>Blade NightRaid</h1>
                                    <p>Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="c4-f2-box-element2">
                            <p>
                                Mero Padhai works well for us. It is inexpensive and easy to
                                use, yet has advanced administrative features.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container5">
            <div id="c5-field1">
                <h2>See our</h2>
            </div>
            <div id="c5-field2">
                <div class="c5-box">
                    <a href="services.html">Services</a>
                </div>
                <div class="c5-box">
                    <a href="techniques.html">Techniques</a>
                </div>
            </div>
        </div>
        <div id="container6">
            <p>We deal in everything when it comes to quality tile cleaning. We are always ready to assist you.</p>
        </div>
    </div>
    <footer id="foot">
        <div class="context">
            <div id="f-container1">
                <div id="f-field1">
                    <a href="#">
                        <img src="../static/imgs/logos/logo1.jpg">
                        <div class="txt">
                            <h2>Eco Clean</h2>
                        </div>
                    </a>
                </div>
                <div id="f-field2">
                    <img src="../static/imgs/icons/phone-call-icon.svg">
                    <strong>Call us:</strong>
                    <p>+977 9800000000</p>
                </div>
                <div id="f-field3">
                    <!-- <a href="#">
                    <img src="../static/imgs/icons/envelope-line-icon.svg">
                </a> -->
                    <a href="https://www.facebook.com/ecocleaningnepal">
                        <img src="../static/imgs/icons/facebook-icon.svg">
                    </a>
                    <a href="#">
                        <img src="../static/imgs/icons/black-instagram-icon.svg">
                    </a>
                </div>
            </div>
            <div id="f-container2">
                <p>&copy; 2022,NameCompany. All rights reserved.</p>
            </div>
        </div>
        <!-- <div class="bubble"></div> -->
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>
    <script src="../static/js/nav.js"></script>
</body>
</html>