<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../static/test.css">
    <link rel="stylesheet" href="../static/footer.css">
</head>
<body>
    <div class="maincontainer">
        <div class="topics">
            <h1>Our  Services</h1>
            <p> Eco Cleaning provides a consistent, high-quality cleaning experience.</p>
        </div>
        <div class="links">
            <a href="index.html">Home > <a href="#">Services </a> </a>
        </div>
        <div class="wholecontainer">
            <div class="container">
                <div class="container2">
                    <img src="../static/imgs/cleaning_agents.jpg">
                    <div class="box">
                        <h2>SUPPLY OF HOUSEKEEPING CHEMICALS</h2>
                        <span></span>
                        <p>Our housekeeping chemicals include a wide range of cleanser, polishes, and lubricants that will help you clean and maintain many areas of your business</p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/cleaning.jpg">
                    <div class="box">
                        <h2>WHOLE PROPERTY CLEANING</h2>
                        <span></span>
                        <p>Whole property cleaning does far more than make the place look stunning, and it also gets rid of bacteria and germs to improve hygiene and air quality inside the home.</p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/Carpet-cleaning.jpg">
                    <div class="box">
                        <h2>CARPET / GALAICHA CLEANING</h2>
                        <span></span>
                        <p>We can use several methods to clean your carpet to remove stains, dirt, for appearance, and also to remove allergens,you should hire us for cleaning your carpets.</p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/Granite-Cleaning.jpg">
                    <div class="box">
                        <h2>TILES / GRANITE CLEANING</h2>
                        <span></span>
                        <p>Our professional technicians can perform complete granite stone tile maintenance and restoration services ranging from minor polishing of granite countertops to complete repair and restoration of granite floors.</p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/sofa cleaning.jpg">
                    <div class="box">
                        <h2>SOFA DEEP CLEANING</h2>
                        <span></span>
                        <p>Our professional sofa cleaners make sure that embedded dirt and grit are completely removed from upholstered furniture. They’ve got the tools and expertise to steam clean upholstery and remove stains to leave your home looking clean and fresh.</p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/tile cleaning.jpeg">
                    <div class="box">
                        <h2>MARBALE / CHIPS POLISHING</h2>
                        <span></span>
                        <p>If you are in search of a reliable and affordable floor polishing service, then look no further than Eco cleaning polishing services. </p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/car cleaning.jpeg">
                    <div class="box">
                        <h2>CAR DEEP CLEANING</h2>
                        <span></span>
                        <p>Entrust your vehicle to our Eco Cleaning specialists for a professional interior cleaning service effective against tough stains and odours.</p>
                    </div>
                </div>
                <div class="container2">
                    <img src="../static/imgs/pest control.jpeg">
                    <div class="box">
                        <h2>PEST MITIGATION SERVICES</h2>
                        <span></span>
                        <p>For your pest control needs, look for a trusted local pest control company that can give you the result that you are expecting to get. Go for Eco Cleaning.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ending_line">
            <p>We take pride in what we do.</p>
            <img src="../static/imgs/girl.png">
        </div>
    </div>
    <footer id="foot">
        <div class="context">
            <div id="f-container1">
                <div id="f-field1">
                    <a href="#">
                        <img src="../static/imgs/logos/logo1.jpg">
                        <div class="txt">
                            <h2>Eco Clean</h2>
                        </div>
                    </a>
                </div>
                <div id="f-field2">
                    <img src="../static/imgs/icons/phone-call-icon.svg">
                    <strong>Call us:</strong>
                    <p>+977 9800000000</p>
                </div>
                <div id="f-field3">
                    <!-- <a href="#">
                    <img src="../static/imgs/icons/envelope-line-icon.svg">
                </a> -->
                    <a href="https://www.facebook.com/ecocleaningnepal">
                        <img src="../static/imgs/icons/facebook-icon.svg">
                    </a>
                    <a href="#">
                        <img src="../static/imgs/icons/black-instagram-icon.svg">
                    </a>
                </div>
            </div>
            <div id="f-container2">
                <p>&copy; 2022,NameCompany. All rights reserved.</p>
            </div>
        </div>
        <!-- <div class="bubble"></div> -->
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>
</body>
</html>